@model IEnumerable<ProductLiteVM>

@{
    ViewBag.Title = "ListProducts";
}

@if (TempData["CreateProduct_Result"] != null)
{
    <h1>@TempData["CreateProduct_Result"]</h1>
}

<h2>ListProducts</h2>

<form method="get">
    商品名稱:
    @Html.TextBox("searchCondition.q")
    庫存數量:
    @Html.TextBox("searchCondition.Stock_S", null, new { size = "10", type = "number" }) ~
    @Html.TextBox("searchCondition.Stock_E", null, new { size = "10", type = "number" })
    <button>搜尋</button>
</form>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
        </tr>
        @{
            var items = Model.ToArray();
        }
        @for(var i =0; i < items.Length;i++)
        {
            <tr>
                @Html.HiddenFor(modelItem => items[i].ProductId)
                <td>
                    @Html.DisplayFor(modelItem => items[i].ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => items[i].ProductName)
                </td>
                <td>
                    @Html.EditorFor(modelItem => items[i].Price)
                </td>
                <td>
                    @Html.EditorFor(modelItem => items[i].Stock)
                </td>
            </tr>
        }
    </table>

    <button>執行批次更新</button>
}   
